.event-section {

	.entry-meta {
		color: $color-accent;
		font-size: 0.75em;
		font-weight: 700;
	}

	.event-repeat {
		border: 2px solid $color-accent;
		display: inline-block;
		line-height: 1.125rem;
		margin-right: 0.25rem;
		padding: 0 0.25rem;
		text-transform: lowercase;
	}

	.event-date {
		text-transform: uppercase;
	}
}
