/* Magnific Popup CSS */

.mfp-bg {
	background: $black;
	height: 100%;
	left: 0;
	opacity: 0.88;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1042;
}

.mfp-wrap {
	backface-visibility: hidden;
	height: 100%;
	left: 0;
	outline: none;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1043;
}

.mfp-container {
	height: 100%;
	left: 0;
	padding: 2em 0.5em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;

	@include breakpoint(creeper) {
		padding: 2em 1em;
	}

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.mfp-align-top & {

		&:before {
			display: none;
		}
	}
}

.mfp-content {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	text-align: left;
	vertical-align: middle;
	z-index: 1045;

	.mfp-inline-holder &,
	.mfp-ajax-holder & {
		cursor: auto;
		width: 100%;
	}

	.mfp-auto-cursor & {
		cursor: auto;
	}
}

.mfp-ajax-cur {
	cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}

.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
	user-select: none;
}

.mfp-loading {

	&.mfp-figure {
		display: none;
	}
}

.mfp-hide {
	display: none !important;
}

.mfp-preloader {
	color: $color-500;
	left: 8px;
	margin-top: -0.8em;
	position: absolute;
	right: 8px;
	text-align: center;
	top: 50%;
	width: auto;
	z-index: 1044;
}

.mfp-preloader {

	.mfp-s-ready & {
		display: none;
	}

	a {
		color: $color-500;

		&:hover {
			color: $white;
		}
	}
}

.mfp-s-error .mfp-content {
	display: none;
}

button.mfp-close,
button.mfp-arrow {
	-webkit-appearance: none;
	background: transparent;
	border: 0;
	box-shadow: none;
	cursor: pointer;
	display: block;
	outline: none;
	overflow: visible;
	padding: 0;
	z-index: 1046;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.mfp-close {
	color: $color-primary;
	font-family: Arial;
	font-style: normal;
	font-size: 2.25em;
	height: 1em;
	line-height: 1em;
	opacity: 0.8;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 1em;

	&:hover,
	&:focus {
		color: $color-primary;
		opacity: 1;
	}
}

.mfp-image-holder,
.mfp-iframe-holder {

	.mfp-close {
		text-align: right;
		width: 100%;
	}
}

.mfp-counter {
	color: $tint-medium;
	font-size: 0.75em;
	line-height: 1.5em;
	position: absolute;
	right: 0;
	top: 0;
}

.mfp-arrow {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height: 100px;
	margin: 0;
	margin-top: -50px;
	opacity: 0.8;
	padding: 0;
	position: absolute;
	top: 50%;
	width: 90px;

	&:before,
	.mfp-b {
		content: "";
		border: medium inset transparent;
		border-top-width: 12px;
		border-bottom-width: 12px;
		display: block;
		height: 0;
		left: 0;
		margin-top: 35px;
		margin-left: 35px;
		position: absolute;
		top: 8px;
		width: 0;
	}

	&:hover,
	&:focus {
		opacity: 1;
	}
}

.mfp-arrow-left {
	left: 0;

	&:before,
	.mfp-b {
		border-right: 16px solid $color-primary;
		margin-left: 32px;
	}
}

.mfp-arrow-right {
	right: 0;

	&:before,
	.mfp-b {
		border-left: 16px solid $color-primary;
		margin-left: 40px;
	}
}

.mfp-iframe-holder {
	padding-top: 40px;
	padding-bottom: 40px;

	.mfp-content {
		line-height: 0;
		max-width: 960px;
		width: 100%;
	}

	.mfp-close {
		top: -40px;
	}
}

.mfp-iframe-scaler {
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
	width: 100%;

	iframe {
		background: $black;
		box-shadow: 0 0 8px $shade-medium;
		display: block;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
	}
}

.mfp-img {
	display: block;
	height: auto;
	line-height: 0;
	margin: 0 auto;
	max-width: 100%;
	padding: 40px 0 40px;
	width: auto;
}

.mfp-figure {
	line-height: 0;

	&:after {
		content: "";
		background: $color-700;
		bottom: 40px;
		box-shadow: 0 0 8px $shade-medium;
		display: block;
		height: auto;
		left: 0;
		position: absolute;
		right: 0;
		top: 40px;
		width: auto;
		z-index: -1;
	}

	small {
		color: $color-100;
		display: block;
		font-size: 0.75em;
		line-height: 1.5;
	}

	figure {
		margin: 0;
	}
}

.mfp-bottom-bar {
	cursor: auto;
	left: 0;
	margin-top: -36px;
	position: absolute;
	top: 100%;
	width: 100%;
}

.mfp-title {
	color: $white;
	line-height: 1.5rem;
	padding-right: 2em;
	text-align: left;
	word-wrap: break-word;
}

.mfp-image-holder {

	.mfp-content {
		max-width: 100%;
	}
}

.mfp-gallery {

	.mfp-content {
		background-color: $white;
	}

	.mfp-close {
		top: -36px;
	}

	.mfp-image-holder {

		.mfp-figure {
			background-color: $white;
			cursor: pointer;
		}
	}

	.mfp-img {
		padding: 12px 12px 72px;
	}

	.mfp-bottom-bar {
		margin-top: -62px;
		padding: 0 12px;
	}

	.mfp-title {
		color: $color-700;
	}

	.mfp-counter {
		color: $color-500;
		right: 10px;
		top: 4px;
	}
}

.mfp-social {
	margin-top: 0.5em;

	li {
		width: 76px;
	}
}
