// WooCommerce 2.1.12

$green: #259b24;
$red: #b81c23;

@font-face {
	font-family: star;
	src: url(../../plugins/woocommerce/assets/fonts/star.eot);
	src: url(../../plugins/woocommerce/assets/fonts/star.eot?#iefix) format('embedded-opentype'),url(../../plugins/woocommerce/assets/fonts/star.woff) format('woff'),url(../../plugins/woocommerce/assets/fonts/star.ttf) format('truetype'),url(../../plugins/woocommerce/assets/fonts/star.svg#star) format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: WooCommerce;
	src: url(../../plugins/woocommerce/assets/fonts/WooCommerce.eot);
	src: url(../../plugins/woocommerce/assets/fonts/WooCommerce.eot?#iefix) format('embedded-opentype'),url(../../plugins/woocommerce/assets/fonts/WooCommerce.woff) format('woff'),url(../../plugins/woocommerce/assets/fonts/WooCommerce.ttf) format('truetype'),url(../../plugins/woocommerce/assets/fonts/WooCommerce.svg#WooCommerce) format('svg');
	font-weight: 400;
	font-style: normal;
}

.clear {
	clear: both;
}

.nobr {
	white-space: nowrap;
}

.demo_store {
	background-color: $color-accent;
	color: $white;
	left: 0;
	margin: 0;
	padding: 0.75em;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 9999;

	.admin-bar & {
		top: 28px;
	}
}

.wc-backward {

	&:before,
	a:before {
		content: "\e02f";
		font-family: WooCommerce;
		font-size: 0.75em;
		font-weight: 400;
		line-height: 1;
		margin-right: 0.5rem;
		text-transform: none;
	}
}

.wc-forward {

	&:after,
	a:after {
		content: "\e029";
		font-family: WooCommerce;
		font-size: 0.75em;
		font-weight: 400;
		line-height: 1;
		margin-left: 0.5rem;
		text-transform: none;
	}
}

.woocommerce,
.woocommerce-page {

	.woocommerce-error,
	.woocommerce-info,
	.woocommerce-message {
		@include clearfix;
		background: $white;
		box-shadow: 0 1px 2px $shade-light;
		color: $shade-medium;
		list-style: none;
		margin: 0 0 1.5em;
		padding: 1em 1em 1em 4em;
		position: relative;
		width: 100%;

		&:before {
			content: "";
			color: $white;
			display: block;
			height: 2.5em;
			left: 1em;
			line-height: 1.5;
			padding-top: 1em;
			position: absolute;
			text-align: center;
			top: 0;
			width: 2em;
		}

		.button {
			float: right;
		}

		li {
			margin-left: 0;
			padding-left: 0;
		}
	}

	.woocommerce-message {
		border-top: 2px solid $green;

		&:before {
			content: "\2713";
			background-color: $green;
		}
	}

	.woocommerce-info {
		border-top: 2px solid $color-500;

		&:before {
			content: "i";
			background-color: $color-500;
			font-family: $serif;
			font-style: italic;
		}
	}

	.woocommerce-error {
		border-top: 2px solid $red;

		&:before {
			content: "\00d7";
			background-color: $red;
			font-weight: 700;
		}
	}

	.note {
		color: $shade-medium;
		display: block;
		font-size: 0.75em;
		margin-top: 1.5rem;
	}

	.woocommerce-breadcrumb {
		@include clearfix;
		color: $shade-medium;
		font-size: 0.875em;
		margin: 0 0 0.1875rem;

		a {
			color: $shade-strong;
		}
	}

	#content .product,
	.product {
		margin-bottom: 0;
		position: relative;

		.product_title {
			clear: none;
			margin-top: 0;
			padding: 0;
		}

		.price {
			color: $color-accent;

			ins {
				background: inherit;
				text-decoration: none;
			}

			del {
				color: $shade-light;
				font-size: 0.875em;
			}
		}

		.stock {
			color: $green;
			font-size: 0.875em;
		}

		.out-of-stock {
			color: $red;
		}

		.images {
			margin-bottom: 3em;

			img {
				box-shadow: inset 0 0 0 1px $shade;
				display: block;
				padding: 1px;
				transition: all 0.2s $ease;
				width: 100%;
			}
		}

		.summary {
			margin-bottom: 3em;
		}

		.social {
			margin: 0 0 1.5em;
			text-align: right;

			span {
				margin: 0 0 0 2px;

				span {
					margin: 0;
				}

				.stButton {

					.chicklets {
						padding-left: 1em;
						width: 0;
					}
				}
			}

			iframe {
				float: left;
				margin-top: 3px;
			}
		}

		.woocommerce-tabs {

			.tabs {
				list-style: none;
				margin: 0 0 1.5em;
				overflow: hidden;
				padding: 0 0 0 0.75em;
				position: relative;

				&:before {
					content: "";
					border-bottom: 1px solid $shade;
					bottom: 0;
					left: 0;
					position: absolute;
					width: 100%;
					z-index: 1;
				}

				li {
					background-color: $shade;
					border: 1px solid $shade;
					border-bottom: 0;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
					display: inline-block;
					position: relative;
					transition: all 0.2s $ease;
					z-index: 0;

					&.active {
						background-color: $white;
						z-index: 2;

						a {
							color: $shade-strong;

							&:hover {
								color: $shade-strong;
							}
						}
					}

					a {
						color: $shade-strong;
						display: inline-block;
						font-size: 0.875em;
						font-weight: 700;
						outline: none;
						padding: 0.5em 1em;
						text-decoration: none;
						transition: all 0.2s $ease;

						&:hover {
							color: $shade-medium;
						}
					}
				}

				.panel {
					margin: 0 0 1.5em;
					padding: 0;
				}
			}
		}
	}

	.cart {
		@include clearfix;
		margin-bottom: 1.5em;
	}

	form {

		&.cart {
			@include clearfix;
			margin: 1.5em 0;

			.quantity {
				float: left;
				margin: 0 0.25em 0 0;
			}

			table {
				border-width: 0 0 1px;

				tr {
					border: 0;
				}

				td {
					padding-left: 0;
				}

				.quantity {
					float: none;
					margin: 0;
				}

				.stock {
					display: block;
					float: none;
				}
			}

			.variations {
				margin-bottom: 1em;
				width: 100%;

				label {
					font-weight: 700;
				}

				select {
					float: left;
					width: 100%;
				}

				td {
					vertical-align: top;
				}

				.label {
					padding-right: 1em;
				}

				.value {
					padding-right: 0;
				}

				.reset_variations {
					font-size: 0.875em;
				}
			}

			.single_variation {
				margin-bottom: 0.5em;
			}

			.button {
				float: left;
				vertical-align: middle;
			}
		}

		.group_table {

			td {
				padding-bottom: .5em;
				vertical-align: top;

			}

			.label {
				padding-left: 1em;
				padding-right: 1em;
			}
		}
	}

	.product_meta {

		> span {
			color: $shade-medium;
			display: block;
			font-size: 0.875em;

			a,
			span {
				color: $shade-strong;
				font-weight: 700;
			}
		}
	}

	.onsale {
		background-color: $color-accent;
		border-radius: 100%;
		color: $white;
		font-size: 0.75em;
		font-weight: 700;
		height: 2.5rem;
		left: 0.5rem;
		line-height: 2.5rem;
		margin: 0;
		position: absolute;
		text-align: center;
		top: 0.5rem;
		width: 2.5rem;
	}

	.products,
	.products ul {
		@include clearfix;
		clear: both;
		list-style: none;
		margin: 0;
		padding: 0;

		.product {

			.onsale {
				left: auto;
				right: -0.5em;
				top: -0.5em;
			}

			h3 {
				color: $color-text;
				font-size: 1em;
				margin: 0 0 0.375em;

				.count {
					background-color: transparent;
					color: $shade-medium;
				}
			}

			a {
				transition: all 0.2s $ease;

				&:hover {
					text-decoration: none;

					img {
						box-shadow: inset 0 0 0 1px $shade, 0 2px 4px $shade;
					}
				}

				img {
					box-shadow: inset 0 0 0 1px $shade;
					display: block;
					margin: 0 0 0.75em;
					padding: 1px;
					transition: all 0.3s $ease;
					width: 100%;
				}

				.star-rating {

					span {
						color: $color-accent;
					}
				}
			}

			strong {
				display: block;
			}

			.price {
				color: $color-accent;
				display: block;
				font-weight: 400;
				margin-bottom: .5em;

				.from {
					font-size: .75em;
					text-transform: uppercase;
					color: $shade-medium;
				}
			}
		}
	}

	.woocommerce-result-count {
		margin-bottom: 0.75em;

		@include breakpoint(creeper) {
			float: left;
			margin-bottom: 3em;
		}
	}

	.woocommerce-ordering {
		margin-bottom: 3em;

		@include breakpoint(creeper) {
			float: right;
		}
	}

	#content .button,
	#respond #submit,
	.button {

		&.add_to_cart_button {
			background-color: $color-button;

			&:hover,
			&:focus {
				background-color: $color-button-hover;
			}

			&:active {
				background-color: $color-button-active;
			}
		}

		&.alt,
		&.checkout {
			background-color: $color-button-alt;

			&:hover,
			&:focus {
				background-color: $color-button-alt-hover;
			}

			&:active {
				background-color: $color-button-alt-active;
			}
		}

		&.loading {

			&:before {
				content: "";
				bottom: 0;
				background: url("../../plugins/woocommerce/assets/images/ajax-loader.gif") center no-repeat $tint-strong;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		&.added {

			&:before {
				content: "\e017";
				color: $shade-medium;
				font-family: WooCommerce;
				position: absolute;
				right: -1.5em;
				text-indent: 0;
				top: 0.25em;
			}
		}

		&.disabled,
		&:disabled {
			background-color: $color-100;
			color: $color-500;
			cursor: not-allowed;
		}
	}

	.cart {

		.button {
			float: none;
		}
	}

	.added_to_cart {
		display: block;
		font-size: 0.875em;
		font-weight: 700;
		margin-top: 0.375rem;
		white-space: nowrap;
	}

	#content .quantity,
	.quantity {
		overflow: hidden;
		position: relative;
		width: 4em;

		.qty {
			-moz-appearance: textfield;
			border: 1px solid $shade;
			border-right: 0;
			border-radius: 2px 0 0 2px;
			box-shadow: inset 0 0 2px $shade;
			float: left;
			font-weight: 700;
			height: 2em;
			padding: 0;
			text-align: center;
			width: 2.5em;
		}

		.minus,
		.plus {
			background-color: $color-100;
			border: 1px solid $shade;
			border-radius: 0 2px 2px 0;
			color: $shade-medium;
			cursor: pointer;
			display: block;
			font-size: 0.875em;
			font-weight: 700;
			height: 1rem;
			line-height: 1em;
			margin: 0;
			overflow: visible;
			padding: 0;
			position: absolute;
			text-align: center;
			text-decoration: none;
			vertical-align: text-top;
			width: 1.5rem;

			&:hover {
				background: lighten($color-100, 4%);
			}
		}

		.minus {
			bottom: 0;
			right: 0;
			border-top-right-radius: 0;
		}

		.plus {
			top: 0;
			right: 0;
			border-bottom: 0;
			border-bottom-right-radius: 0;
		}
	}

	#reviews {

		h2 {

			small {
				color: $shade-medium;
				float: right;
				font-size: 0.875em;
				margin: 0.5rem 0 0;

				a {
					color: $shade-strong;
					text-decoration: none;
				}
			}
		}

		h3 {
			margin-bottom: 1.5rem;
		}

		#respond {
			border: 0;
			margin: 0;
			padding: 0;
		}

		#comment {
			height: 5em;
		}

		#comments {

			.add_review {
				@include clearfix;
			}

			.commentlist {
				@include clearfix;
				list-style: none;
				margin: 0;
				padding: 0;
				width: 100%;

				li {
					margin: 0 0 1.5em;
					padding: 0;
					position: relative;

					.meta {
						color: $shade-medium;
						font-size: 0.75em;
					}

					.avatar {
						background-color: $color-100;
						border: 1px solid $shade-medium;
						height: auto;
						float: left;
						left: 0;
						position: absolute;
						top: 0;
						width: 2em;
					}

					.comment-text {
						@include clearfix;
						border: 1px solid $shade;
						margin: 0 0 0 3em;
						padding: 1em;

						.meta {
							font-size: 0.875em
						}
					}
				}

				.children {
					list-style: none;
					margin: 1em 0 0 3em;

					.star-rating {
						display: none;
					}
				}

				#respond {
					border: 1px solid $shade;
					margin: 1em 0 0 3em;
					padding: 1em;
				}
			}
		}
	}

	#review_form_wrapper {
		border-top: 1px solid $shade;
		margin-top: 1.5em;
		padding-top: 1.5em;
	}

	.star-rating {
		float: right;
		font-family: star;
		height: 1em;
		line-height: 1;
		overflow: hidden;
		position: relative;
		width: 5.4em;

		&:before {
			content: "\73\73\73\73\73";
			color: $shade-light;
			float: left;
			left: 0;
			position: absolute;
			top: 0;
		}

		span {
			float: left;
			left: 0;
			overflow: hidden;
			position: absolute;
			padding-top: 1.5em;
			top: 0;

			&:before {
				content: "\53\53\53\53\53";
				left: 0;
				position: absolute;
				top: 0;
			}
		}
	}

	.woocommerce-product-rating {
		display: block;
		line-height: 2;

		.star-rating {
			float: left;
			margin: 0.5em 0.25em 0 0;
		}
	}

	.products {

		.star-rating {
			display: block;
			margin: 0 0 0.375em;
			float: none;
		}
	}

	.hreview-aggregate {

		.star-rating {
			margin: 0.5em 0 0;
		}
	}

	#review_form {

		#respond {
			@include clearfix;
			background-color: transparent;
			border: 0;
			margin: 0;
			padding: 0;
			position: static;
			width: auto;

			p {
				margin: 0 0 0.75em;
			}

			.form-submit {

				input {
					left: auto;
				}
			}

			textarea {
				width: 100%;
			}
		}
	}

	.stars {
		position: relative;
		font-size: 1em;

		a {
			display: inline-block;
			margin-right: 1em;
			text-indent: -9999px;
			position: relative;

			&:last-child {
				border-right: 0;
			}

			&.star-1,
			&.star-2,
			&.star-3,
			&.star-4,
			&.star-5 {
				border-right: 1px solid $shade;

				&:after {
					font-family: WooCommerce;
					left: 0;
					position: absolute;
					text-indent: 0;
					top: 0;
				}
			}

			&.star-1 {
				width: 2em;

				&.active,
				&:hover {

					&:after {
						content: "\e020";
					}
				}

				&:after {
					content: "\e021";
				}
			}

			&.star-2 {
				width: 3em;

				&.active,
				&:hover {

					&:after {
						content: "\e020\e020";
					}
				}

				&:after {
					content: "\e021\e021";
				}
			}

			&.star-3 {
				width: 4em;

				&.active,
				&:hover {

					&:after {
						content: "\e020\e020\e020";
					}
				}

				&:after {
					content: "\e021\e021\e021";
				}
			}

			&.star-4 {
				width: 5em;

				&.active,
				&:hover {

					&:after {
						content: "\e020\e020\e020\e020";
					}
				}

				&:after {
					content: "\e021\e021\e021\e021";
				}
			}

			&.star-5 {
				border: 0;
				width: 6em;

				&.active,
				&:hover {

					&:after {
						content: "\e020\e020\e020\e020\e020";
					}
				}

				&:after {
					content: "\e021\e021\e021\e021\e021";
				}
			}
		}
	}

	.shop_attributes {
		border: 0;
		border-top: 1px dotted $shade;
		margin-bottom: 1.5em;
		width: 100%;

		th {
			border-top: 0;
			border-bottom: 1px dotted $shade;
			font-weight: 700;
			margin: 0;
			padding: 0.5em;
			width: 10em;
		}

		td {
			border-top: 0;
			border-bottom: 1px dotted $shade;
			font-style: italic;
			margin: 0;
			padding: 0;

			p {
				margin: 0;
				padding: 0.5em 0;
			}
		}

		.alt {

			td,
			th {
				background-color: $shade-light;
			}
		}
	}

	.shop_table {
		border: 1px solid $shade;
		border-collapse: separate;
		margin: 0 0 1.5em 0;
		text-align: left;
		width: 100%;

		th {
			padding: 0.5em;

			@include breakpoint(creeper) {
				padding: 0.5em 1em;
			}
		}

		td {
			border-top: 1px solid $shade;
			padding: 0.5em;
			vertical-align: middle;

			@include breakpoint(creeper) {
				padding: 0.5em 1em;
			}
		}

		tfoot {

			td,
			th {
				border-top: 1px solid $shade;
				font-weight: 700;
			}
		}
	}

	.my_account_orders {
		font-size: 0.875em;

		td,
		th {
			padding: 0.25em 0.5em;
			vertical-align: middle;
		}

		.button {
			white-space: nowrap;
		}

		.order-actions {
			text-align: right;

			.button {
				margin: 0.125em 0 0.125em 0.25em;
			}
		}
	}

	.product-name {

		.variation {
			@include clearfix;
			margin: 0.25em 0;

			dd,
			dt {
				display: inline-block;
				float: left;
				margin-bottom: 1em;
			}

			dt {
				clear: left;
				font-weight: 700;
				margin: 0 0.25em 0 0;
				padding: 0 0 0.25em;
			}

			dd {
				padding: 0 0 0.25em;

				p {

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		.backorder_notification {
			font-size: 0.875em;
		}
	}

	.product-quantity {
		min-width: 5em;
	}

	#content .cart,
	.cart {

		.product-thumbnail {
			padding: 0;
			width: 2em;
		}

		img {
			width: 100%;
		}

		input {
			margin: 0;
			vertical-align: middle;
		}

		td,
		th {
			vertical-align: middle;
		}

		.remove {
			border-radius: 100%;
			color: $red;
			display: block;
			font-family: Arial;
			font-size: 1.125em;
			height: 1em;
			line-height: 1;
			text-align: center;
			text-decoration: none;
			width: 1em;

			&:hover {
				background-color: $red;
				color: $white;
			}
		}

		.actions {

			.coupon {

				.input-text {
					float: left;
					margin-right: 0.25em;
					width: auto;
				}
			}
		}
	}

	.cart_list,
	.product_list_widget {
		list-style: none;
		margin: 0;
		padding: 0;

		li {

			+ li {
				border-top: 1px solid $shade;
				margin-top: 0.75em;
				padding-top: 0.75em;
			}

			a {
				display: block;
				font-weight: 700;
			}

			img {
				box-shadow: inset 0 0 0 1px $shade;
				display: none;
				float: right;
				margin-left: 0.5em;
				padding: 1px;
				width: 4.5em;

				@include breakpoint(runner) {
					display: block;
				}
			}

			dl {
				@include clearfix;
				border-left: 2px solid $shade;
				margin: 0;
				padding-left: 1em;

				dd,
				dt {
					display: inline-block;
					float: left;
					margin-bottom: 1em;
				}

				dd {
					padding: 0 0 0.25em;
				}

				dt {
					clear: left;
					font-weight: 700;
					margin: 0 0.25em 0 0;
					padding: 0 0 0.25em;
				}
			}

			.star-rating {
				float: none;
			}
		}
	}

	.widget_shopping_cart,
	&.widget_shopping_cart {

		.total {
			border-top: 3px double $shade-light;
			margin-top: 0.75em;
			padding-top: 0.75em;

			strong {
				display: inline-block;
				min-width: 3em;
			}
		}

		.buttons {

			.button {
				display: block;
				text-align: center;

				@include breakpoint(runner) {
					display: inline-block;
				}

				&.checkout {
					margin-top: 0.375em;

					@include breakpoint(runner) {
						margin-top: 0;
					}
				}
			}
		}
	}

	.cart-collaterals {

		.shipping_calculator {
			margin-top: 1em;

			h2 {
				font-size: 1.5em;
			}

			.button {
				display: block;
				float: none;
				width: 100%;
			}

			.shipping-calculator-button {

				&:after {
					content: "\e02e";
					font-family: WooCommerce;
					font-weight: 400;
					font-variant: normal;
					line-height: 1;
					margin-left: 0.5em;
					text-transform: none;
				}
			}
		}

		.cart_totals {

			p {
				margin: 0;

				small {
					color: $shade-medium;
					font-size: 0.875em;
				}
			}

			table {
				width: 100%;

				tr {

					&:first-child {

						td,
						th {
							border-top: 0;
						}
					}
				}

				td,
				th {
					vertical-align: top;
				}

				th {
					width: 50%;
				}

				small {
					color: $shade-medium;
					display: block;
				}

				select {
					width: 100%;
				}
			}

			tr {

				td,
				th {
					border-top: 1px solid $shade;
				}
			}

			.button {

				&.alt {
					display: inline-block;
				}
			}

			.discount {

				td {
					color: $green;
				}
			}
		}

		.cross-sells {

			.products {

				.product {
					margin-top: 0;
				}
			}
		}
	}

	form {

		&.checkout_coupon,
		&.login,
		&.register {
			border: 1px solid $shade;
			margin: 0 0 1.5em;
			padding: 1.5em;
			text-align: left;
		}

		.form-row {

			&.validate-required.woocommerce-invalid {

				.chosen-drop,
				.chosen-single,
				.input-text,
				select {
					border-color: $red;
				}
			}

			label {
				margin-bottom: 0.25em;

				&.hidden {
					visibility: hidden;
				}

				&.inline {
					display: inline;
				}
			}

			select {
				cursor: pointer;
				margin: 0;
			}

			.required {
				border: 0;
				color: $red;
				font-weight: 700;
			}

			.input-checkbox {
				display: inline;
				margin: -0.125em 0.5em 0 0;
				text-align: center;
				vertical-align: middle;
			}

			.input-text,
			textarea {
				margin: 0;
				outline: 0;
				width: 100%;
			}

			textarea {
				height: 5em;
				display: block;
			}
		}
	}

	#shipping_method {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0.25em 0 0.25em 1.5em;
			text-indent: -1.5em;
		}

		.amount {
			font-weight: 700;
		}
	}

	.woocommerce-shipping-contents {
		margin: 0;
	}

	.checkout {

		.col-2 {

			#ship-to-different-address {
				clear: none;
				float: left;
			}

			.shipping_address {
				clear: both;
			}

			.form-row-first,
			.notes {
				clear: left;
			}
		}

		.create-account {

			small {
				font-size: 0.75em;
				color: $shade-medium;
				font-weight: 400;
			}
		}

		.shipping-address {
			clear: both;
			padding: 0;
			width: 100%;
		}
	}

	#payment {
		background: $shade;

		.payment_methods {
			@include clearfix;
			border-bottom: 1px solid $shade;
			list-style: none;
			margin: 0;
			padding: 1em;
			text-align: left;

			li {
				margin: 0;

				input {
					margin: 0 1em 0 0;
				}

				img {
					margin: -0.125em 0 0 0.5em;
					position: relative;
					vertical-align: middle;
				}
			}
		}

		.form-row {
			padding: 1em;
		}

		.payment_box {
			background-color: $tint-strong;
			color: $shade-medium;
			font-size: 0.875em;
			margin: 1em 0;
			padding: 1.5em;
			position: relative;
			width: 100%;

			&:after {
				content: "";
				border: 8px solid $tint-strong;
				border-right-color: transparent;
				border-left-color: transparent;
				border-top-color: transparent;
				left: 32px;
				position: absolute;
				top: -16px;
			}

			.wc-credit-card-form-card-cvc,
			.wc-credit-card-form-card-expiry,
			.wc-credit-card-form-card-number {
				background-position: right;
				background-repeat: no-repeat;
				font-size: 1.5em;
				padding: 0.5em;

				&.visa {
					background-image: url("../../plugins/woocommerce/assets/images/icons/credit-cards/visa.png");
				}

				&.mastercard {
					background-image: url("../../plugins/woocommerce/assets/images/icons/credit-cards/mastercard.png");
				}

				&.laser {
					background-image: url("../../plugins/woocommerce/assets/images/icons/credit-cards/laser.png");
				}

				&.dinersclub {
					background-image: url("../../plugins/woocommerce/assets/images/icons/credit-cards/diners.png");
				}

				&.maestro {
					background-image: url("../../plugins/woocommerce/assets/images/icons/credit-cards/maestro.png")
				}

				&.jcb {
					background-image: url("../../plugins/woocommerce/assets/images/icons/credit-cards/jcb.png")
				}

				&.amex {
					background-image: url("../../plugins/woocommerce/assets/images/icons/credit-cards/amex.png")
				}

				&.discover {
					background-image: url("../../plugins/woocommerce/assets/images/icons/credit-cards/discover.png")
				}
			}

			.help {
				color: $shade-medium;
				font-size: 0.75em;
				line-height: 13px;
			}

			.form-row {
				margin: 0 0 1em;
			}
		}
	}

	.order_details {
		@include clearfix;
		list-style: none;
		margin: 0 0 1.5em;
		padding: 0;

		li {
			border-right: 1px dashed $shade;
			float: left;
			font-size: 0.75em;
			margin-right: 1.5em;
			text-transform: uppercase;
			padding-right: 1.5em;

			&:last-of-type {
				border: 0;
			}

			strong {
				display: block;
				font-size: 1rem;
				text-transform: none;
			}
		}
	}

	.addresses {

		.title {
			@include clearfix;

			h3 {
				float: left;
			}

			.edit {
				float: right;
			}
		}
	}

	.commentlist {

		&.notes {

			.note {

				.meta {
					font-weight: 700;
					margin-bottom: 0;
				}
			}
		}
	}

	.digital-downloads {
		margin-left: 0;
		padding-left: 0;

		li {
			list-style: none;
			margin-left: 0;
			padding-left: 0;

			&:before {
				content: "\e00a";
				font-family: WooCommerce;
				font-weight: 400;
				font-variant: normal;
				line-height: 1;
				margin-right: 0.5em;
				text-transform: none;
			}

			.count {
				float: right;
			}
		}
	}

	.widget_layered_nav {

		ul {
			border: 0;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				@include clearfix;
				padding: 0 0 1px;

				&.chosen {

					a {
						background: $green;
						border: 1px solid $shade-light;
						color: $white;
						padding: 0 0.5em;
						text-decoration: none;

						&:before {
							content: "\e013";
							font-family: WooCommerce;
							font-weight: 400;
							font-variant: normal;
							line-height: 1;
							margin-right: 0.5em;
							text-transform: none;
						}
					}
				}

				a,
				span {
					padding: 1px 0;
					float: left;
				}
			}

			.count {
				color: $shade-medium;
				float: right;
				font-size: 1em;
				margin-left: 0.5em;
				padding: 1px 0;
			}
		}
	}

	.widget_layered_nav_filters {

		ul {
			border: 0;
			list-style: none;
			margin: 0;
			overflow: hidden;
			padding: 0;

			li {
				float: left;
				padding: 0 1px 1px 0;

				a {
					background: $green;
					border: 1px solid $shade-light;
					color: $white;
					float: left;
					padding: 0 6px;
					text-decoration: none;

					&:before {
						content: "\e013";
						font-family: WooCommerce;
						font-weight: 400;
						font-variant: normal;
						line-height: 1;
						margin-right: 7px;
						text-transform: none;
					}
				}
			}
		}
	}

	.widget_price_filter {

		.price_slider {
			margin-bottom: 1em;
		}

		.price_slider_amount {
			font-size: .875em;
			text-align: right;

			.button {
				float: left;
			}
		}

		.ui-slider {
			background-color: $shade;
			box-shadow: 0.875em 0 0 $shade;
			height: 0.5em;
			margin: 0.1875em 0 1.1875em;
			position: relative;
			text-align: left;
			width: 94.53125%;
			width: calc(100% - 0.875em);

			.ui-slider-handle {
				background: $green;
				border: 1px solid $shade-light;
				border-radius: 1em;
				cursor: pointer;
				height: 0.875em;
				outline: 0;
				position: absolute;
				top: -0.1875em;
				width: 0.875em;
				z-index: 2;
			}
		}
	}

	// Layout

	.col2-set {
		@include clearfix;
		width: 100%;

		.col-1 {

			@include breakpoint(walker) {
				float: left;
				width: 48%;
			}
		}

		.col-2 {

			@include breakpoint(walker) {
				float: right;
				width: 48%;
			}
		}
	}

	#content .product,
	.product {
		margin-top: 3em;

		.images {

			@include breakpoint(crawler) {
				float: left;
				width: 44%;
			}

			@include breakpoint(runner) {
				width: calc(20em);
			}
		}

		.thumbnails {
			@include clearfix;

			a {
				float: left;
				margin-right: 4%;
				margin-right: calc(0.75em);
				margin-top: 4%;
				margin-top: calc(0.75em);
				width: 30.666666667%;
				width: calc((100% - 1.5em) / 3);

				&.first {
					clear: both;
				}

				&.last {
					margin-right: 0;
				}
			}
		}

		.summary {

			@include breakpoint(crawler) {
				float: right;
				width: 52%;
				width: calc(100% - 44% - 1.5em);
			}

			@include breakpoint(runner) {
				width: calc(100% - 21.5em);
			}
		}

		.woocommerce-tabs {
			clear: both;

			.tabs {
				@include clearfix;

				li {
					display: inline-block;
				}

				.additional_information_tab {
					display: none;

					@include breakpoint(crawler) {
						display: inline-block;
					}
				}
			}
		}

		#reviews {

			.comment {
				@include clearfix;

				img {
					float: right;
					height: auto;
				}
			}
		}
	}

	.related,
	.upsells.products {
		border-top: 1px solid $shade;
		margin-top: 3em;
		padding-top: 3em;
	}

	.products {
		@include clearfix;
		clear: both;

		.product {
			float: left;
			margin: 3em 4% 0 0;
			margin-right: calc(1em);
			padding: 0;
			position: relative;
			width: 48%;
			width: calc((100% - 1em)/2);

			@include breakpoint(creeper) {
				margin-right: calc(1.5em);
				width: calc((100% - 1.5em)/2);
			}

			@include breakpoint(crawler) {
				width: 30.666666667%;
				width: calc((100% - 3em)/3);
			}

			@include breakpoint(runner) {
				width: 22%;
				width: calc((100% - 4.5em)/4);
			}

			&:nth-child(-n+2) {
				margin-top: 0;
			}

			&:nth-child(-n+3) {

				@include breakpoint(crawler) {
					margin-top: 0;
				}
			}

			&:nth-child(-n+4) {

				@include breakpoint(runner) {
					margin-top: 0;
				}
			}

			&:nth-child(2n) {
				margin-right: 0;

				@include breakpoint(crawler) {
					margin-right: 4%;
					margin-right: calc(1.5em);
				}
			}

			&:nth-child(2n+1) {
				clear: both;

				@include breakpoint(crawler) {
					clear: none;
				}
			}

			&:nth-child(3n) {

				@include breakpoint(crawler) {
					margin-right: 0;
				}

				@include breakpoint(runner) {
					margin-right: 4%;
					margin-right: calc(1.5em);
				}
			}

			&:nth-child(3n+1) {

				@include breakpoint(crawler) {
					clear: both;
				}

				@include breakpoint(runner) {
					clear: none;
				}
			}

			&:nth-child(4n) {

				@include breakpoint(runner) {
					margin-right: 0;
				}
			}

			&:nth-child(4n+1) {

				@include breakpoint(runner) {
					clear: both;
				}
			}
		}
	}

	#content .cart,
	.cart {

		.product-remove,
		.product-thumbnail,
		.product-price {
			display: none;

			@include breakpoint(crawler) {
				display: table-cell;
			}
		}

		.actions {
			font-size: 0.75em;
			text-align: right;

			@include breakpoint(creeper) {
				font-size: 0.875em;
			}

			@include breakpoint(walker) {
				font-size: 1em;
			}

			.coupon {
				@include clearfix;
				margin-bottom: 0.5em;
				text-align: left;

				@include breakpoint(walker) {
					float: left;
					margin-bottom: 0;
				}

				label {
					display: none;
				}

				.input-text,
				.button {
					float: left;
					margin-right: 2%;
					margin-right: calc(0.5em);
					width: 49%;
					width: calc(50% - 0.25em);

					@include breakpoint(walker) {
						float: none;
						margin: 0;
					}
				}

				.input-text {
					height: 2em;
				}

				.button {
					margin-right: 0;

					@include breakpoint(walker) {
						width: auto;
					}
				}
			}

			.button {
				float: left;
				margin-right: 2%;
				margin-right: calc(0.5em);
				width: 49%;
				width: calc(50% - 0.25em);

				@include breakpoint(walker) {
					float: none;
					margin: 0;
					width: auto;
				}

				&.checkout-button {
					margin-right: 0;
				}
			}
		}
	}

	.cart-collaterals {
		@include clearfix;
		width: 100%;

		.related {

			@include breakpoint(walker) {
				float: left;
				width: 30.75%;
			}
		}

		.cross-sells {

			@include breakpoint(walker) {
				float: left;
				width: 48%;
			}

			.products {
				float: none;

				li {

					@include breakpoint(walker) {
						width: 48%;
					}
				}
			}
		}

		.shipping_calculator {
			@include clearfix;
			clear: right;

			@include breakpoint(walker) {
				float: right;
				width: 48%;
			}

			.col2-set .col-1,
			.col2-set .col-2 {

				@include breakpoint(walker) {
					width: 47%;
				}
			}
		}

		.cart_totals {
			text-align: right;

			@include breakpoint(walker) {
				float: right;
				width: 48%;
			}
		}
	}

	form {

		.form-row {
			@include clearfix;

			label {
				display: block;

				&.checkbox {
					display: inline;
				}
			}

			select {
				width: 100%;
			}

			.input-text {
				width: 100%;
			}
		}

		.form-row-first,
		.form-row-last {
			float: left;
			overflow: visible;
			width: 47%;
			width: calc((100% - 1em) / 2);
		}

		.form-row-last {
			float: right;
		}

		.form-row-wide {
			clear: both;
		}
	}

	#payment {

		.form-row {

			select {
				width: auto;
			}
		}

		.terms {
			padding: 0 1em;
			text-align: right;
		}

		#place_order {
			float: right;
		}
	}
}

// Custom styles

.address + .reg-balipass {
	margin-top: 1.5em;
}
